* {
    box-sizing: border-box;
}

body {
    color: #434455;
    font-style: normal;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.hero-name {
    text-decoration: none;
}

.section-header {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* -----HEADER------ */

.header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
    padding: 17px 0;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.accent {
    color: #2e2f42;
}

.nav-menu {
    display: none;
}

.address {
    display: none;
}

.burger-menu-open-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
}

/* -------MOBILE-MENU------ */

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.burger-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-close-btn:active,
.burger-menu-close-btn:hover {
    background-color: #404bbf;
    border: none;
}

.burger-menu-close-btn:active > .close-icon,
.burger-menu-close-btn:hover > .close-icon {
    fill: #ffffff;
}

.burger-menu-holder {
    position: absolute;
    top: 72px;
    left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.burger-menu-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 168px;
}

.burger-menu-nav > .section-header {
    margin-bottom: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-nav-active {
    color: #404bbf;
}

.burger-menu-nav > .section-header:active,
.burger-menu-nav > .section-header:hover {
    color: #4d5ae5;
}

.burger-menu-address {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.burger-menu-address-item {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-address-item:active,
.burger-menu-address-item:hover {
    color: #4d5ae5;
}

.soc-media-icons-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.sm-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

.sm-link:active {
    background-color: #404bbf;
}

.icon-name {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .burger-menu-open-btn {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo {
        margin-right: 120px;
    }
    .nav-menu {
        display: flex;
        gap: 40px;
    }
    .nav-item {
        display: block;
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 24px 0;
    }
    .active {
        position: relative;
        color: #404bbf;
    }
    .active::after {
        content: "";
        display: block;
        position: absolute;
        flex-shrink: 0;
        width: 100%;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-item:hover,
    .nav-item:focus {
        color: #404bbf;
    }
    .address {
        display: flex;
    }
    .address-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .address-item-name {
        color: #434455;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-item-name:hover,
    .address-item-name:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    .address-menu {
        flex-direction: row;
        gap: 40px;
    }
    .address-item-name {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* ------HERO-------- */

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-mob.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-mob-2x.jpg);
    }
}

.hero-name {
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    max-width: 216px;
}

.hero-btn {
    color: #ffffff;
    background-color: #4d5ae5;
    border-radius: 4px;
    display: block;
    text-align: center;
    height: 56px;
    padding: 0 32px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 72px auto 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-tab.jpg);
        min-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }
    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-tab-2x.jpg);
        }
    }
    .hero-name {
        max-width: 511px;
        text-align: center;
        margin: 0 auto;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }
    .hero-btn {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-desk.jpg);
        min-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-desk-2x.jpg);
        }
    }
    .hero-btn {
        margin-top: 48px;
    }
}

/* ------MAIN FEATURES------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.body-container {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.features-item {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-bg {
    display: none;
}

.feature-name {
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.feature-description {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .features-item {
        width: calc((100% - 24px) / 2);
    }
    .feature-name {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .body-container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .features-list {
        flex-wrap: nowrap;
    }
    .features-item {
        width: calc((100% - 72px) / 4);
        text-shadow: none;
    }
    .icon-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        min-height: 112px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
    }
    .feature-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
    .feature-description {
        font-weight: 400;
    }
}

/* ----------OUR TEAM--------- */

.our-team {
    background-color: #f4f4fd;
}

.team-container {
    padding-left: 28px;
    padding-right: 28px;
}

.section-header {
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.our-team-item {
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.teammate {
    padding: 32px 0;
}

.teammate-name {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.position {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.soc-media-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.tm-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.sm-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

.sm-link:hover,
.sm-link:focus {
    background-color: #404bbf;
}

.tm-icon-name {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-container {
        padding-left: 108px;
        padding-right: 108px;
    }
    .our-team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
    .our-team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-container {
        padding-left: 0;
        padding-right: 0;
    }
    .our-team-item {
        width: calc((100% - 72px) / 4);
    }
}

/* --------OUR PORTFOLIO -------*/

.portfolio-list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid #f4f4fd;
    background: #fff;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
}

.overlay-text {
    visibility: hidden;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-div {
    padding-right: 16px;
    padding-left: 16px;
}

.portfolio-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;
    }
    .portfolio-item {
        width: calc((100% - 48px) / 3);
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-item:hover,
    .portfolio-item:focus {
        cursor: pointer;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    .portfolio-wrap {
        position: relative;
        overflow: hidden;
    }
    .overlay-text {
        visibility: visible;
    }
    .portfolio-item:hover .overlay-text {
        transform: translateY(0%);
    }
}

/* ------FOOTER------- */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-logo-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .accent {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-media-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 72px;
}

.social-media-title {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-icons-list {
    display: flex;
    gap: 16px;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus,
.footer-icon-link:active {
    background-color: #31d0aa;
}

.footer-input {
    text-align: center;
}

.footer-input-name {
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.email-input {
    width: 264px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    opacity: 0.3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.email-input::placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-sbc-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sbc-btn:hover,
.footer-sbc-btn:focus,
.footer-sbc-btn:active {
    background-color: #404bbf;
}

.sbc-icon {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
    }
    .tablet-footer {
        display: flex;
        align-items: baseline;
        gap: 24px;
        margin-bottom: 72px;
    }
    .footer-logo-and-text {
        align-items: flex-start;
        margin-bottom: 0;
    }
    .footer-text {
        max-width: 264px;
    }
    .social-media-footer {
        align-items: flex-start;
        margin-bottom: 0;
    }
    .footer-input {
        text-align: start;
    }
    .footer-input-form {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    .tablet-footer {
        margin-bottom: 0;
        display: flex;
        gap: 0;
    }
    .social-media-footer {
        margin-right: 80px;
    }
    .footer-logo-and-text {
        margin-right: 120px;
    }
    .email-input {
        opacity: 1;
    }
}

/* ---MODAL-FRAME----- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus,
.modal-btn-close:active {
    background-color: #404bbf;
    border: none;
}

.modal-btn-close:hover > .close-icon,
.modal-btn-close:focus > .close-icon,
.modal-btn-close:active > .close-icon {
    fill: #fff;
}

.modal-name {
    left: 24px;
    right: 24px;
    margin-bottom: 16px;
    color: #2e2f42;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-input-wrap {
    position: relative;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-line {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-line:focus,
.input-line:hover {
    border-color: #4d5ae5;
}

.input-line:focus + .form-icon,
.input-line:hover + .form-icon {
    fill: #4d5ae5;
}

.comment-form {
    margin-bottom: 16px;
}

.textarea-field {
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:focus,
.textarea-field:hover {
    border-color: #4d5ae5;
}

.textarea-field::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.privacy-field {
    margin-bottom: 24px;
    display: flex;
}

.privacy-label {
    display: flex;
    align-items: center;
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.check-box-text .policy-terms {
    color: #4d5ae5;
    text-decoration: underline;
}

.privacy-label .check-box-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: transparent;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-check:checked + .privacy-label .check-box-span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.modal-btn-send {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    padding: 16px 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal-frame {
        width: 408px;
        min-height: 584px;
    }
}
